body {
    background-color: #eee;
    width: min(80%, 1000px);
    margin: 50px auto;
    font-family: Verdana, sans-serif;
    padding: 0;
}

h1 {
    margin: 0 0 0 10px;
    padding-top: 10px;
    font-size: 1.8em;
    font-weight: 100;
}

a {
    display: inline-block;
    margin: 30px;
    padding: 30px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: firebrick;
    color: #ddd;
    font-weight: 900;
}

.logo,
.nav,
.header-main {
    margin-bottom: 10px;
}

.nav,
.header-main,
.sidebar,
.body-area,
footer {
    text-align: center;
}


.logo {
    height: 90px;
    background-color: #aaa;
}

.nav {
    height: 50px;
    background-color: #aaa;

}

.header-main {
    height: 150px;
    background-color: #aaa;

}

.sidebar {
    width: 30%;
    aspect-ratio: 1 / 2;
    background-color: #aaa;
    display: inline-block;
    margin-right: 5px;
}

.body-area {
    display: inline-block;
    width: 68.9%;
    aspect-ratio: 1 / .875;
    margin-bottom: 10px;
    background-color: #aaa;
}

footer {
    height: 50px;
    background-color: #aaa;

}