body {
    /* background-color: red; */
    margin: 100px;
}

/* h2 { */
/* background-color: red; */
/* display: inline; */
/* display: inline-block; */
/* margin: 50px; */
/* margin: 10px 50px; */
/* margin: 40px 50px 10px 10px; */
/* margin-top: 100px; */
/* margin-bottom: 0px; */
/* margin-left: 120px; */
/* margin-right: 120px; */
/* float: right; */
/* } */
/* 
.left {
    float: left;
}

.right {
    float: right;
}

a {
    background: royalblue;
    color: white;
    margin: 50px;
    display: inline-block;
} */

/* .cube {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
    padding: 0px 50px 0px 0px;
}

.blue {
    background-color: blue;
    padding-top: 50px;
} */

/* .box {
    margin: 50px;
    display: inline-block;
}

.box span {
    display: block;
    text-align: center;
    margin-bottom: 45px;
}

.box a {
    background-color: #2B4964;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 55px;
    border-width: 1px;
    border-style: solid;
    border-color: #BEC8CF;
    border: 1px solid #BEC8CF;
    border-radius: 5px;
} */

.content-block {
    padding: 43px 40px 55px 12px;
    border: 1px solid #707070;
    border-radius: 10px;
    width: 300px;
    box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.2);
}

.content-block img {
    height: 95px;
}

.content-block h2{
    font-size: 34px;
    line-height: 38px;
    margin: 35px 0px 45px 0px;
}

.content-block p {
    line-height: 33px;
}
